/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded-vertical-strong {
  padding: 5em 0;
}

.padded-vertical-medium {
  padding: 2.5em 0;
}

.padded-vertical-light {
  padding: 1em 0;
}

.padded-sides-medium {
  padding: 0 2em;
}

.padded-all-sides-medium {
  padding: 2em;
}


// Margins
.margin-top-super-light {
  margin-top: 1em;
}

.margin-top-light {
  margin-top: 2em;
}

.margin-bottom-light {
  padding-bottom: 1.2em;
}

.custom-margin-bottom {
  margin-bottom: 2px;
}


// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

.master-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.student-flex {
  flex: 0 0 20%;
}

.line-heighted {
  line-height: 1.5em;
}
